exportPattern("^[[:alpha:]]+")
import("bc3net")
import("data.table")
import("stringr")
import("dplyr")
import("XML")
import("visNetwork")
import("RColorBrewer")
import("BiocManager")
import("KEGGREST")
import("biomaRt")
